    .coupons{		
		display: inline-block;
		margin: 0 0 70px 0;
		padding:0;
		background-color: #375855;									
    	
    	width:500px;
    	height: 430px;

    	border-radius: 5px;
		
    	position:relative; 	
	}
	.coupons:first-of-type{
		margin-top: 160px;
	}

	.coupons__top{
		width:485px;
    	height: 325px;	    	

    	display: inline-block;
    	margin: 7.5px 7.5px 0 7.5px;

        -webkit-border-top-left-radius: 5px;
	       -moz-border-radius-topleft: 5px;
    	        border-top-left-radius: 5px;

        -webkit-border-top-right-radius: 5px;
	       -moz-border-radius-topright: 5px;
    	        border-top-right-radius: 5px;

    	background-color: #ecf1d6;							
		background-image: url(../img/pop_fon.jpg);
		background-repeat: no-repeat;		
    	background-size: cover;  
    	text-align: left;     

    	position:relative;  	    	

	}
	.coupons__top_logo{
		width:185px;
    	height: 35px;    	

    	margin-top: 15px;

    	display: inline-block;    	    	    	
		
		-webkit-transform: skewX(-20deg);
     	   -moz-transform: skewX(-20deg);
      	    -ms-transform: skewX(-20deg);
       	     -o-transform: skewX(-20deg);
                transform: skewX(-20deg);

		background-color: #375855;							        
	  	background: -webkit-linear-gradient(to left, #375855 0%, rgba(37,58,55,.3) 25%, rgba(37,58,55,0.1) 50%, transparent 70%);	  
	  	background:    -moz-linear-gradient(to left, #375855 0%, rgba(37,58,55,.3) 25%, rgba(37,58,55,0.1) 50%, transparent 70%);	  
        background:     -ms-linear-gradient(to left, #375855 0%, rgba(37,58,55,.3) 25%, rgba(37,58,55,0.1) 50%, transparent 70%);	  
	    background:      -o-linear-gradient(to left, #375855 0%, rgba(37,58,55,.3) 25%, rgba(37,58,55,0.1) 50%, transparent 70%);	  
	    background:         linear-gradient(to left, #375855 0%, rgba(37,58,55,.3) 25%, rgba(37,58,55,0.1) 50%, transparent 70%);	  

	}
	.coupons__top_logo-text{
		display: inline-block;    	    	    	
		margin-left: 13px;
		margin-top: 2px;
		
		-webkit-transform: skewX(20deg);
     	   -moz-transform: skewX(20deg);
      	    -ms-transform: skewX(20deg);
       	     -o-transform: skewX(20deg);
                transform: skewX(20deg);

        font-family: Aquarion, Arial;		
		text-transform: uppercase;
		font-size: 23px;
		font-weight: bold;	
		color: #fde950;		

		text-shadow: #4f6a61 0 4px 1px,
					 #717476 0 0 5px; 

	}

	.coupons__top_logo-text > sup{
		font-size: 12px;	
		position: relative;
		top: -5px;			
	}		
	.coupons__top_slogan, .coupons__top_slogan-box{
		display:inline-block;		
		position: relative;		
		height: 30px;    	
	}
	.coupons__top_slogan-box{						
		width:320px;
    	z-index: 2;
    	background-color: #fee84d;
		
	    -webkit-transform: skewX(-50deg);
     	   -moz-transform: skewX(-50deg);
      	    -ms-transform: skewX(-50deg);
       	     -o-transform: skewX(-50deg);
                transform: skewX(-50deg);                     

	}
	.coupons__top_slogan-box::before{
		content:"";		
		position:absolute;
		top:0;		
		left:-13px;

		height:100%;
		width: 100%;
		background-color: #ffffff;		
		
		background: -webkit-linear-gradient(to left, #fee84d 0%, #fef18e 25%, #fef7c0 50%, #fdfbe1 75%, #fdfdf1 100%);
		background:    -moz-linear-gradient(to left, #fee84d 0%, #fef18e 25%, #fef7c0 50%, #fdfbe1 75%, #fdfdf1 100%);
        background:     -ms-linear-gradient(to left, #fee84d 0%, #fef18e 25%, #fef7c0 50%, #fdfbe1 75%, #fdfdf1 100%);
	    background:      -o-linear-gradient(to left, #fee84d 0%, #fef18e 25%, #fef7c0 50%, #fdfbe1 75%, #fdfdf1 100%);		
	    background:         linear-gradient(to left, #fee84d 0%, #fef18e 25%, #fef7c0 50%, #fdfbe1 75%, #fdfdf1 100%);

		-webkit-transform: skewX(40deg);
     	   -moz-transform: skewX(40deg);
      	    -ms-transform: skewX(40deg);
       	     -o-transform: skewX(40deg);
                transform: skewX(40deg);
	}	
	.coupons__top_slogan-box::after{
		content:"";			
	 	position: absolute;	 
	 	bottom: -21px;
	 	right: -70px;
	 		 	
	 	width:169px;
	 	height:39px;
	 	background-image: url(../img/sprite.png);		
		background-position: -528px -400px;

	 	-webkit-transform: skewX(50deg);
     	   -moz-transform: skewX(50deg);
      	    -ms-transform: skewX(50deg);
       	     -o-transform: skewX(50deg);
                transform: skewX(50deg);

	}			
	.coupons__top_slogan::after{		
		content: "";				
	 	position: absolute;	 
	 	bottom: 0;
	 	left: -17px;
	 	
	 	width: 50%;
	 	height: 3px;
	 		 	
	 	background: rgba(225,180,145, 1);

	 	-webkit-box-shadow: 0 2px 4px rgba(225,180,145, 1);
	 	   -moz-box-shadow: 0 2px 4px rgba(225,180,145, 1);
	 	        box-shadow: 0 2px 4px rgba(225,180,145, 1);

	 	-webkit-transform: rotate(.5deg);
	       -moz-transform: rotate(.5deg);	         
	        -ms-transform: rotate(.5deg);
	         -o-transform: rotate(.5deg);
	            transform: rotate(.5deg); 	    
	}
	.coupons__top_slogan::before{
		content: "";				
	 	position: absolute;	 
	 	top: 0;
	 	right: -16px;
	 	
	 	width: 50%;
	 	height: 3px;
	 		 	
	 	background: rgba(225,180,145, 1);

	 	-webkit-box-shadow: 0 -2px 4px rgba(225,180,145, 1);
	 	   -moz-box-shadow: 0 -2px 4px rgba(225,180,145, 1);
	 	        box-shadow: 0 -2px 4px rgba(225,180,145, 1);

	 	-webkit-transform: rotate(-.5deg);
	       -moz-transform: rotate(-.5deg);
	        -ms-transform: rotate(-.5deg);
	         -o-transform: rotate(-.5deg);	    
	            transform: rotate(-.5deg); 	    
	}
	.coupons__women{
		position:absolute;		
		z-index:3;
		
		right:-103px;
		bottom:0;

		width:285px;
		height:449px;

		background-image: url(../img/sprite.png);		
		background-position: 0px 0px;
	}	
	.coupons__button{
		width:492px;
		height:64px;
		position:relative;
		z-index:4;		

		margin-top:16px;
				
		background-color: #344d4b;		  	  	
	  	background: -webkit-linear-gradient(to right, #ad2610 0%, #783c2f 30%, #344d4b 61%, #344d4b 100%);	
	  	background:    -moz-linear-gradient(to right, #ad2610 0%, #783c2f 30%, #344d4b 61%, #344d4b 100%);	  
        background:     -ms-linear-gradient(to right, #ad2610 0%, #783c2f 30%, #344d4b 61%, #344d4b 100%);	  
	    background:      -o-linear-gradient(to right, #ad2610 0%, #783c2f 30%, #344d4b 61%, #344d4b 100%);	  
	    background:         linear-gradient(to right, #ad2610 0%, #783c2f 30%, #344d4b 61%, #344d4b 100%);	  

		border-radius: 0 50px 50px 0;
		-overflow:hidden;

	}
	.coupons__button-2{
		
		float:right;		
		width:265px;
		height:56px;
		border-radius: 50px;

		background-color: #ffea00;		
	  	background: -webkit-linear-gradient(to top, #f3d705 0%, #fffd00 100%);
	  	background:    -moz-linear-gradient(to top, #f3d705 0%, #fffd00 100%);
        background:     -ms-linear-gradient(to top, #f3d705 0%, #fffd00 100%);
	    background:      -o-linear-gradient(to top, #f3d705 0%, #fffd00 100%);	  
	    background:         linear-gradient(to top, #f3d705 0%, #fffd00 100%);	  

		box-shadow: 0 .5px .5px .5px #a46126,
					0 -.5px .5px .5px #fff,
					0 7px 0 0 #9d9158,
					0 7px 10px 0 black;
	}
	.coupons__button-2:hover{
		cursor:pointer;
		background: #d13073;
	}
	.coupons__button-text{
		display:inline-block;
		line-height: 64px;
		font-family: 'Roboto Condensed', sans-serif;
		color:#fffd00;		
		font-size: 28px;
		text-transform: uppercase;	
		font-weight: bold;	
		font-style: italic;	
	}
	.coupons__button-2-title{
		font-family: 'Roboto Condensed', sans-serif;
		color:#464744;		
		font-size: 23px;
		text-transform: uppercase;	
		font-weight: bold;	
		font-style: italic;		
		
		text-align:left;	
		padding-left:15px;
		padding-top:10px;		
	}
	.coupons__button-2-footer{
		font-family: 'Aquarion', sans-serif;
		color:#000000;		
		font-size: 11px;		
		font-variant:small-caps;

		text-align:left;	
		padding-left:15px;
		margin-top:-3px;
		position:relative;
	}
	.coupons__button-2-footer::after{
		content:"";			
	 	position: absolute;	 
	 	bottom: -2px;
	 	right: 5px;
	 	
	 	width:89px;
	 	height:29px;	 	
	 	background-image: url(../img/sprite.png);
  		background-position: -578px -322px;
	}	
	.coupons__product4s1, .coupons__product4s2{
		position:absolute;		
		
		left: 25px;
		bottom:45px;

		width:104px;
		height:145px;			
	}
	.coupons__product4s2{
		left: 215px;
	}
	.coupons__product4s1 svg{
		width:104px;
		height:145px;				
	}	
	.coupons__product4s2 svg{
		width:104px;
		height:145px;				
	}	
	.coupons__product4m1, .coupons__product4m2{
		position:absolute;		
		
		left: 55px;
		bottom:30px;

		width:147px;
		height:171px;		
	}
	.coupons__product4m1 svg{
		width:147px;
		height:171px;				
	}	
	.coupons__product4m2 svg{
		width:147px;
		height:171px;				
	}	
	.coupons__product4m2{
		left: 165px;
	}
	.coupons__product4b{
		position:absolute;		
		
		left: 120px;
		bottom:10px;
		
		width:116px;
		height:216px;	
		background-image: url(../img/sprite.png);
  		background-position: -698px 0px;		
	}
	.coupons__basket{
		position:absolute;		
		
		left: -1px;
		bottom:0;

		width:169px;
		height:85px;
		
		background-image: url(../img/sprite.png);
  		background-position: -527px 0px;
	}	
	.coupons__shape, .coupons__shape-svg{
		z-index: 11;		
		
		display:inline-block;
		position:absolute;
		
		left: 50%;
		top:50%;
		margin-top:-70px;
		margin-left:-80px;

		width:160px;
		height:160px;					
	}	
	.coupons__shape-svg{
		z-index: 0;		
		margin-top:-80px;				
	}
	
	.coupons__shape-icon{
		width:56px;
		height: 37px;
		display:inline-block;
						
		background-image: url(../img/sprite.png);
  		background-position: -640px -270px;
		
		position: absolute;
		left: 50%;
		top:50%;
		margin-top:-18px;
		margin-left:-28px;

	}
	.coupons__shape-icon2{
		width:62px;
		height: 51px;
		display:inline-block;
						
		background-image: url(../img/sprite.png);
  		background-position: -576px -271px;
		
		position: absolute;
		left: 50%;
		top:50%;
		margin-top:-31px;
		margin-left:-27px;

	}
	.coupons__shape-icon3{
		width:64px;
		height: 76px;
		display:inline-block;
						
		background-image: url(../img/sprite.png);
  		background-position: -527px -194px;
		
		position: absolute;
		left: 50%;
		top:50%;
		margin-top:-31px;
		margin-left:-31px;

	}
	.coupons__shape-svgtext{
		display:inline-block;
		position:absolute;		
		
		left: 50%;
		top:50%;
		margin-top:-80px;
		margin-left:-80px;

		width:150px;
		height:150px;
	
		font-size:10px;	
		fill: white;

		font-family: 'Roboto Condensed', sans-serif;	

		text-shadow: 1px 1px 1px black;	
	}
	text:last-of-type{
		letter-spacing: 1px;				
	}	
	.svg-arrow {			
		width:80px;
		height:120px;		

		position:absolute;		
		top: 85px;
		left:106px;				
	}	
	.svg-title {			
		width:320px;
    	height: 30px;  
    	z-index: 3;     	

    	position:absolute;		
		top: 1px;
		left:0;	

		webkit-transform: skewX(-10deg);
     	   moz-transform: skewX(-10deg);
      	    ms-transform: skewX(-10deg);
       	     o-transform: skewX(-10deg);
               transform: skewX(-10deg);					
	}	
	
	#popup-modal{	
		z-index: 1000;	
		margin:0;
		padding:0;		

        text-align: center;   			
		display:none;      

		position: absolute;
      	left: 0;
      	top:0;
      	right: 0;
      	bottom: 0;
	}
	.coupons__wrapper{
		width:960px;
		background: rgba( 0, 0, 0, 0.6); 
		display: inline-block;
	}

	.ieBrowser .coupons__top_slogan::after{
		bottom: 2px;
	}